<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-light bg-white">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" aria-controls="jumbotronExample" aria-expanded="false"
            aria-label="Toggle navigation">
            <i class="fas fa-bars"></i>
        </button>
        <div mdbCollapse class="collapse navbar-collapse " id="jumbotronExample">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0" style="text-align: right;">
                <li class="nav-item active">
                    <a class="nav-link" aria-current="page" [routerLink]="['']">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/about']">About</a>
                </li>

            </ul>
            <div class="d-flex align-items-center">
                <button type="button" class="btn btn-link px-3 me-2" [routerLink]="['/signup']">
                    Inscrivez-vous
                </button>
                <button type="button" class="btn btn-primary me-3" [routerLink]="['/contact']">
                    Se Connecter
                </button>

            </div>
        </div>
    </div>
</nav>

<div class="container">

    <router-outlet></router-outlet>

</div>