<div class="card" style="width: 18rem;">
    <div class="card-header">
        Menu: {{menu_idx+1}}
    </div>

    <img src={{menu.img}} class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title" [ngClass]="{'fontColor size20 backgroundColor' : menu.nom.includes('C')}">Title :
            {{menu.nom}}</h5>
        <p class="card-text">Description : {{menu.description}}</p>
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">Price : {{menu.prix}} € </li>
        <ng-template #blockGratuit>
            <li class="list-group-item">Price : Gratuit </li>
        </ng-template>


    </ul>
    <p class="card-text"><small class="text-muted">Likes: {{menu.likes}}</small></p>
    <div class="btn-group btn-group-sm" role="group" aria-label="Basic example">
        <button type="button" class="btn btn-primary btn-sm" (click)="increment($event)">Like</button>
        <button type="button" class="btn btn-secondary btn-sm" (click)="decrement($event)">Dislike</button>
    </div>


</div>