.design-img span:first-of-type {
    position: absolute;
    z-index: 1;
    top: 10px;
    left: 10px;
    height: 31px;
    width: 74px;
    background: var(--exDark);
    color: #fff;
    padding: 0.25rem 1rem;
}

