<div class="design-item">
    <div class="design-img">
        <img src="../assets/Images/pate.jpg" width="300" height="300">
        <span><i class="far fa-heart"></i> 242</span>
        <span>Restaurant Tokyo</span>
    </div>
    <div class="design-title">
        <a
            href="https://www.google.com/search?q=P%C3%A2t%C3%A9+Imp%C3%A9rial&client=firefox-b-d&sxsrf=APq-WBuJEDU0Na1IfCAfyN-0XkVsNgFEJQ%3A1648547600647&ei=ENdCYu6KJ5G8a5OQq4AO&ved=0ahUKEwju0oaxhuv2AhUR3hoKHRPICuAQ4dUDCA0&uact=5&oq=P%C3%A2t%C3%A9+Imp%C3%A9rial&gs_lcp=Cgdnd3Mtd2l6EAMyBAguEBMyBAgAEBMyBAgAEBMyBAgAEBMyBAgAEBMyBAgAEBMyBggAEB4QEzIGCAAQHhATMgYIABAeEBMyCAgAEAoQHhATOgcIABBHELADSgQIQRgASgQIRhgAULACWLACYP8KaAFwAXgAgAFtiAFtkgEDMC4xmAEAoAECoAEByAEKwAEB&sclient=gws-wiz">Pâté
            Impérial</a>
    </div>
</div>