<head>
    <link href="https://fonts.googleapis.com/css2?family=Oswald&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
</head>

<body>
    <input type="checkbox" id="active">
    <label for="active" class="menu-btn"><span></span></label>
    <label for="active" class="close"></label>
    <div class="wrapper">
        <ul>
            <li><a [routerLink]="['/restaurant/:id']">Home</a></li>
            <li><a href="#">Menu</a></li>
            <li><a [routerLink]="['/addmenu']">Add Menu</a></li>

        </ul>
    </div>

</body>

<div class="container">

    <router-outlet></router-outlet>

</div>