<section id="full">
    <section class="about" id="about">
        <div class="container">
            <div class="about-content">
                <div>
                    <img src={{restaurant.img}} height="" alt="...">
                </div>
                <div class="about-text">
                    <div class="title">
                        <h2>Nom : {{restaurant.nom}}</h2>
                        <p>Description : {{restaurant.description}}</p>
                    </div>
                    <p>Adresse : {{restaurant.adresse}}</p>
                    <p>Codepostal : {{restaurant.codepostal}}</p>
                    <p>Likes: {{restaurant.likes}}</p>
                </div>
            </div>
        </div>
    </section>
    <!--text---------------------->

</section>