<section class="about" id="about">
    <div class="container">
        <div class="about-content">
            <div>
                <img src="../assets/Images/website.jpg" height="400">
            </div>
            <div class="about-text">
                <div class="title">
                    <h2>Site web de restaurants recommandés</h2>
                    <p>Bienvenue!</p>
                </div>
                <p>Depuis plus de dix ans, notre site web se consacre à la recommandation de restaurants.</p>
                <p>Merci de votre confiance dans notre restaurant</p>
            </div>
        </div>
    </div>
</section>